<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejoindre un comité</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="lobby-layout">
            <div class="left-panel">
                <h2>Entrer un code</h2>
                <input type="text" id="codeInput" placeholder="Code">
                <button id="joinCodeBtn">rejoindre</button>
                <div class="or">OU</div>
                <button disabled>créer sa partie</button>
            </div>
            <div class="right-panel">
                <h2>Rejoindre un comité</h2>
                <div id="committeeList"></div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>
</html>