<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion au salon</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Connexion au salon</h1>
        <input type="text" id="username" placeholder="Entrez votre pseudo" required>
        <button onclick="joinChat()">Rejoindre</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>
</html>